body{
  font-family: 'Space Mono', monospace;
  font-weight: 300;
  font-size: 20px;
  font-style: normal;
  background: "black";
  color: #fff;
}
a{
  text-decoration: none;
  color: #25f3bf;
} 
p {
word-spacing: 6px;
}
.cont{
  position: relative;
  backdrop-filter: blur(10px);
  border: 1px solid;
  border-radius: 1px;
  padding: 1%;
}
.idk{
  display: inline-block;
}

.idk a {
  display: inline-block;
  color: #25f3bf;
  font-size: 150%;
  font-weight: bold;
   padding: 0 3px;
}

.button{
  /* background-image: url('./muun.svg'); */
  background-color: #fff;
  padding: 2px;
  position: absolute;
  top: 50%;
  right: 10px;
  width: 10px;
  height: 10px;
  border: solid black 2px;
  display: inline-block;
  transform: translateY(-50%)
}
